{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
<script src="https://kit.fontawesome.com/2711052dbd.js" crossorigin="anonymous"></script>
<link rel="shortcut icon" href="https://scholar.harvard.edu/profiles/openscholar/themes/hwpi_basetheme/favicon.png">
<meta property="og:title" content="Kunal Sangani"/>
<meta property="og:site_name" content="Kunal Sangani"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Welcome! I'm a PhD candidate in Business Economics at Harvard with interests in macroeconomics and finance."/>
<meta property="og:image" content="/assets/images/kunalsangani_headshot_cropped.jpg"/>
<meta itemprop="name" content="Kunal Sangani"/>
<meta itemprop="description" content="Welcome! I'm a PhD candidate in Business Economics at Harvard with interests in macroeconomics and finance."/>
<meta itemprop="thumbnailUrl" content="/assets/images/kunalsangani_headshot_cropped.jpg"/>
<meta itemprop="image" content="/assets/images/kunalsangani_headshot_cropped.jpg"/>
<meta itemprop="imageUrl" content="/assets/images/kunalsangani_headshot_cropped.jpg"/>